* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 0, 0.776);
    padding: 30px 40px;
    border-radius: 10px;
    width: 50%;
}

header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.para,
.img-js {
    margin-top: 12px;
    font-size: 18px;
}

.img-js img {
    width: 97%;
    height: 30vh;
    border-radius: 12px;
}

.para .content-container-2,
.img-js {
    display: none;
}

.btn {
    background-color: #1d1d1d;
    color: rgba(255, 255, 0, 0.788);
    padding: 10px 45px;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.46s ease-out;

    &:hover {
        background: #313131;
        transition: 0.46s ease-in;
    }
}

/* JS-Part */
.content-container-2.toggle,
.img-js.toggle {
    display: block;
}