body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1d1d1dcb;
}

#center {
    cursor: pointer;
    width: 36%;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #db6e6e3f;
    border-radius: 1.82vw;
}

#emoji {
    cursor: pointer;
    font-size: 10rem;
    filter: grayscale(1);
    transition-property: transfrom, filter;
    transition-duration: 200ms;
    transition: 0.68s ease-out;
}

#emoji:hover {
    transform: scale(1.17);
    filter: grayscale(0);
    transition: 0.68s ease-in;
}